<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
    <servlet>
        <servlet-name>AgregarClienteServlet</servlet-name>
        <servlet-class>servletsClientes.AgregarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarAvionesServlet</servlet-name>
        <servlet-class>servletsAviones.AgregarAvionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarAvionesServlet</servlet-name>
        <servlet-class>servletsAviones.BuscarAvionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManejaSesionServlet</servlet-name>
        <servlet-class>servletManejaSesion.ManejaSesionServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ConsultaClientesServlet</servlet-name>
        <servlet-class>servletsClientes.ConsultaClientesServlet</servlet-class>
    </servlet>
    
    
    
     <servlet-mapping>
        <servlet-name>AgregarClienteServlet</servlet-name>
        <url-pattern>/agregarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarAvionesServlet</servlet-name>
        <url-pattern>/agregarAvionesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarAvionesServlet</servlet-name>
        <url-pattern>/buscarAvionesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManejaSesionServlet</servlet-name>
        <url-pattern>/manejaSesionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaClientesServlet</servlet-name>
        <url-pattern>/consultaClientesServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BuscarVuelosServlet</servlet-name>
        <servlet-class>BuscarVuelosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuscarVuelosServlet</servlet-name>
        <url-pattern>servletsVuelos.BuscarVuelosServlet</url-pattern>
    </servlet-mapping>
    
       <servlet>
        <servlet-name>AgregarVueloServlet</servlet-name>
        <servlet-class>AgregarVueloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgregarVueloServlet</servlet-name>
        <url-pattern>servletsVuelos.agregarVueloServlet</url-pattern>
    </servlet-mapping>
    
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
